body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.card-container{
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    padding: 1.5rem;
    border-radius: 15px;
    position: relative;
    border: 2px solid black; /* Primary border color */
}

.card-container .card-image{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.card-container .learning{
    background-color: hsl(47, 88%, 63%);;
    border-radius: 5px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0.5rem 0 0.5rem;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-container .avatar-image{
    width: 10%;
    height: auto;
    margin-right: 1rem;
    
}

h2:hover{
    color:  hsl(47, 88%, 63%);
}
p {
    display: flex;
    line-height: 1.5;
    align-items: center;
    
}


